@model int

<div class="col-12">
    <div class="card bg-light">
        <div class="card-body">
            There are @Model restaurants here. <a asp-page="/Restaurants/Index">See them all</a>.
        </div>
    </div>
</div>