@page
@model OdeToFood.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h3>Oops.. Something went wrong.</h3>

<p>
    It seems that the restaurant you&apos;re looking does not exist in our records.
</p>

<a asp-page="Restaurants/Index" class="btn btn-secondary">See all Restaurants</a>