@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "Client Restaurants";
}


<h2>Client Restaurants</h2>

<table class="table" id="restaurants"></table>

@section Scripts
{
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
        <link href="~/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    </environment>

    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                {
                    method: "get"
                })
                .then(function (response) {

                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine" }
                        ]
                    });

                });
        });
    </script>
}