@page
@model OdeToFood.Pages.Restaurants.IndexModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>
@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message.Trim()
    </div>
}
<div class="row">
    <div class="col-6">
        <a asp-page="Edit" class="btn btn-success">Register Restaurant</a>
    </div>
    <div class="col-6">
        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search restaurant"
                           asp-for="SearchTerm">
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    @foreach (var item in Model.Restaurants)
    {
        <partial name="_Summary" model="item" />
    }
</div>