@page
@model OdeToFood.Pages.Restaurants.IndexModel
@{
}

<h1>Restaurants</h1>

<table class="table">
    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.Cuisine</td>
        </tr>
    }
</table>